:root {
  --color-primary-100: theme("colors.blue.100");
  --color-primary-200: theme("colors.blue.200");
  --color-primary-300: theme("colors.blue.300");
  --color-primary-400: theme("colors.blue.400");
  --color-primary-500: theme("colors.blue.500");
  --color-primary-600: theme("colors.blue.600");
  --color-primary-700: theme("colors.blue.700");
  --color-primary-800: theme("colors.blue.800");
  --color-primary-900: theme("colors.blue.900");

  --color-neutral-100: theme("colors.gray.100");
  --color-neutral-200: theme("colors.gray.200");
  --color-neutral-300: theme("colors.gray.300");
  --color-neutral-400: theme("colors.gray.400");
  --color-neutral-500: theme("colors.gray.500");
  --color-neutral-600: theme("colors.gray.600");
  --color-neutral-700: theme("colors.gray.700");
  --color-neutral-800: theme("colors.gray.800");
  --color-neutral-900: theme("colors.gray.900");

  /* mycustomcolorpallete  */
  --color-primary: #060c0e;
  --color-cyan: #30bced;
  --color-yellow-red: #ffba49;
  --color-green-spring: #31e981;
  --color-pink-blush: #e55381;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@200;400&family=Roboto+Condensed:wght@700&display=swap");

.theme-light {
  --color-primaryBg: var(--color-primary-500);
  --color-primaryBgSoft: var(--color-primary-200);
  --color-primaryBgSofter: var(--color-primary-300);
  --color-primarySoft: var(--color-primary-400);
  --color-primary: var(--color-primary-100);
  --color-primaryBold: var(--color-primary-600);
  --color-onPrimaryBgSofter: var(--color-primary-700);
  --color-onPrimaryBgSoft: var(--color-primary-800);
  --color-onPrimaryBg: var(--color-primary-900);

  --color-neutralBg: var(--color-neutral-100);
  --color-neutralBgSoft: var(--color-neutral-200);
  --color-neutralBgSofter: var(--color-neutral-300);
  --color-neutralSoft: var(--color-neutral-400);
  --color-neutral: var(--color-neutral-500);
  --color-neutralBold: var(--color-neutral-600);
  --color-onNeutralBgSofter: var(--color-neutral-700);
  --color-onNeutralBgSoft: var(--color-neutral-800);
  --color-onNeutralBg: var(--color-neutral-900);
}
/* my custom theme */
.theme-darkest {
  --color-primaryBg: var(--color-primary);
  --color-info: var(--color-cyan);
  --color-warning: var(--color-yellow-red);
  --color-success: var(--color-green-spring);
  --color-danger: var(--color-pink-blush);
  --color-primary-text: whitesmoke;
  --background-hero-image: url(https://images.unsplash.com/photo-1488344100863-f49b3cec9853?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
}

.theme-lightest {
  --color-primaryBg: whitesmoke;
  --color-info: var(--color-cyan);
  --color-warning: var(--color-pink-blush);
  --color-success: var(--color-green-spring);
  --color-danger: var(--color-primary);
  --color-primary-text: var(--color-primary);
  --background-hero-image: url(https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
}

.theme-dark {
  --color-onPrimaryBg: var(--color-primary-100);
  --color-onPrimaryBgSoft: var(--color-primary-300);
  --color-onPrimaryBgSofter: var(--color-primary-400);
  --color-primaryBold: var(--color-primary-600);
  --color-primary: var(--color-primary-800);
  --color-primarySoft: var(--color-primary-900);
  --color-primaryBgSofter: var(--color-primary-900);
  --color-primaryBgSoft: var(--color-primary-900);
  --color-primaryBg: var(--color-primary-900);

  --color-neutralBg: var(--color-neutral-800);
  --color-neutralBgSoft: var(--color-neutral-700);
  --color-neutralBgSofter: var(--color-neutral-600);
  --color-neutralSoft: var(--color-neutral-500);
  --color-neutral: var(--color-neutral-400);
  --color-neutralBold: var(--color-neutral-300);
  --color-onNeutralBgSofter: var(--color-neutral-200);
  --color-onNeutralBgSoft: var(--color-neutral-100);
  --color-onNeutralBg: var(--color-neutral-100);
}
